/* assign margin*/
@mixin margins{
    margin-left: 10px;
    margin-right: 10px;
}
@mixin margin15{
    margin-left: 15px;
    margin-right: 15px;
}

body{
@include margins;
}

div{
    @include margin15;
}